<h2>Create a satellite</h2>
<div>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <mat-label>Model</mat-label>
        <input matInput type="text" formControlName="model" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Brand</mat-label>
        <input matInput type="text" formControlName="brand" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Weight</mat-label>
        <input matInput type="number" formControlName="weight" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Volume</mat-label>
        <input matInput type="number" formControlName="volume" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Max Range</mat-label>
        <input matInput type="number" formControlName="maxRange" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" required/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Photo URL</mat-label>
        <input matInput type="string" formControlName="photoURL" required/>
      </mat-form-field>
    </div>
  <div>
    <button mat-raised-button color="primary">Create</button>
  </div>
  </form>
</div>
