<mat-toolbar color="primary" class="navbar">
  <div>
    <button class="btn" mat-button routerLink="">Home</button>
    <button class="btn" mat-button routerLink="/satellite">Satellites</button>
    <button class="btn" mat-button routerLink="/fuel">Fuel</button>
  </div>
  <div *ngIf="!user">
    <span routerLink="/login">Login</span>
  </div>
  <div *ngIf="user">
    <button mat-button routerLink="/cart"><mat-icon>shopping_cart</mat-icon></button>
    <div *ngIf="user.isAdmin">
      <span routerLink="/user/admin-page"> Admin </span>
    </div>
  </div>
</mat-toolbar>
