<h2>Update a satellite</h2>
<div *ngIf="!loading">
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Model</label>
      <input type="text" formControlName="model" required/>
    </div>
    <div class="form-group">
      <div class="form-group">
        <label>Brand</label>
        <input type="text" formControlName="brand" required/>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group">
        <label>Weight</label>
        <input type="number" formControlName="weight" required/>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group">
        <label>Volume</label>
        <input type="number" formControlName="volume" required/>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group">
        <label>Max Range</label>
        <input type="number" formControlName="maxRange" required/>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group">
        <label>ImageUrl</label>
        <input type="string" formControlName="photoURL" required/>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group">
        <label>Price</label>
        <input type="number" formControlName="price" required/>
      </div>
    </div>
    <div>
      <button>UPDATE</button>
    </div>
  </form>
</div>
<div *ngIf="loading">
  <h2>Loading...</h2>
</div>
