
<div fxLayoutAlign="center" *ngIf="fuel$">
  <mat-card class="card">

    <h2>{{fuel$.brand}} </h2>
    <h4>{{fuel$.model}}</h4>

    <h4 fxLayoutAlign="end">{{priceFormat(fuel$.price)}}</h4>

    <mat-form-field>
      <mat-label>Type of purchasement</mat-label>
      <select matNativeControl required>
        <option value="barrel">Barrel (200L)</option>
        <option value="can">Can (10L)</option>
        <option value="bigBarrel">Big Barrel (1000L)</option>
      </select>
    </mat-form-field>


    <div fxLayoutAlign="end center">
      <button color="primary" mat-mini-fab (click)="decreaseProductAmount()">
        <mat-icon>remove</mat-icon>
      </button>
      <h1 class="h1-amount">{{amount}}</h1>
      <button color="primary" mat-mini-fab (click)="increaseProductAmount()">
        <mat-icon>add</mat-icon>
      </button>
      <button color="primary" mat-fab (click)="addToCart(fuel$)">
        <mat-icon>add_shopping_cart</mat-icon>
        Buy
      </button>
    </div>
    <h1></h1>


  </mat-card>
</div>

<div *ngIf="!fuel$">
  <h4>loading...</h4>
</div>
