<div>
  <mat-grid-list cols="5" rowHeight="400px">
    <div *ngIf="fuel$">
      <div *ngFor="let fuel of fuel$ | async">
        <mat-grid-tile>
          <mat-card class="mat-primary">
            <div (click)="goToFuelDetail(fuel.id)">
              <mat-card-title class="mct">{{fuel.model}}</mat-card-title>
              <mat-card-subtitle class="mcs">{{fuel.brand}}</mat-card-subtitle>
              <img src="{{fuel.photoURL}}" width="100" height="100">
            </div>
            <button  mat-raised-button color="accent" (click)="addToCart(fuel)"><mat-icon>add_shopping_cart</mat-icon>Buy</button>
          </mat-card>
        </mat-grid-tile>
      </div>
    </div>
  </mat-grid-list>
</div>
